In [161]:
import numpy as np
import pandas as pd
demographic = pd.read_csv('demographics.csv')
pd.set_option("display.max_rows", 20)
demographic

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,1746-TGTWV,1.0,Male,78.0,No,Yes,No,No,0.0
1,8499-BRXTD,1.0,Female,74.0,No,Yes,Yes,NaN,1.0
2,2041-JIJCI,1.0,Male,71.0,No,Yes,No,Yes,3.0
3,5832-EXGTT,1.0,Female,78.0,No,Yes,Yes,Yes,1.0
4,8350-NYMVI,NaN,NaN,80.0,No,Yes,NaN,Yes,1.0
...,...,...,...,...,...,...,...,...,...
6158,7609-NRNCA,NaN,Female,NaN,No,No,No,No,0.0
6159,4835-YSJMR,1.0,Male,38.0,No,No,NaN,Yes,2.0
6160,5067-DGXLL,1.0,NaN,30.0,No,No,Yes,Yes,2.0
6161,3129-AAQOU,1.0,Female,32.0,No,No,Yes,Yes,2.0
6162,2205-LPVGL,1.0,Male,44.0,No,No,No,No,0.0

In [162]:
demographic.isnull().sum()

Customer ID               0
Count                   770
Gender                  770
Age                     770
Under 30                770
Senior Citizen          770
Married                 770
Dependents              770
Number of Dependents    770
dtype: int64

In [163]:
demographic['Gender']= demographic['Gender'].replace(['Male','Female'],[1,0])
demographic['Under 30']= demographic['Under 30'].replace(['Yes','No'],[1,0])
demographic['Senior Citizen']= demographic['Senior Citizen'].replace(['Yes','No'],[1,0])
demographic['Married']= demographic['Married'].replace(['Yes','No'],[1,0])
demographic['Dependents']= demographic['Dependents'].replace(['Yes','No'],[1,0])

demographic

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,1746-TGTWV,1.0,1.0,78.0,0.0,1.0,0.0,0.0,0.0
1,8499-BRXTD,1.0,0.0,74.0,0.0,1.0,1.0,NaN,1.0
2,2041-JIJCI,1.0,1.0,71.0,0.0,1.0,0.0,1.0,3.0
3,5832-EXGTT,1.0,0.0,78.0,0.0,1.0,1.0,1.0,1.0
4,8350-NYMVI,NaN,NaN,80.0,0.0,1.0,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...
6158,7609-NRNCA,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
6159,4835-YSJMR,1.0,1.0,38.0,0.0,0.0,NaN,1.0,2.0
6160,5067-DGXLL,1.0,NaN,30.0,0.0,0.0,1.0,1.0,2.0
6161,3129-AAQOU,1.0,0.0,32.0,0.0,0.0,1.0,1.0,2.0
6162,2205-LPVGL,1.0,1.0,44.0,0.0,0.0,0.0,0.0,0.0

In [164]:
Under30_avg = demographic[demographic['Age']<=30].mean()
Under30_avg = Under30_avg['Age']
Senior_Citizen = demographic[demographic['Age']>=65].mean()
Senior_Citizen = Senior_Citizen['Age']
print(Under30_avg)
print(Senior_Citizen)

24.461406518010293
72.40773480662983

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [165]:
tempt = demographic.loc[demographic['Married']==1]
tempt = tempt.loc[tempt['Age']>30]
tempt = tempt.loc[tempt['Age']<65]
tempt

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
1023,4445-KWOKW,1.0,1.0,61.0,0.0,0.0,1.0,1.0,NaN
1032,3452-ABWRL,1.0,0.0,34.0,0.0,0.0,1.0,1.0,5.0
1035,2227-JRSJX,NaN,1.0,37.0,0.0,0.0,1.0,1.0,1.0
1036,6407-GSJNL,1.0,0.0,62.0,0.0,0.0,1.0,NaN,2.0
1051,1231-YNDEK,1.0,1.0,39.0,NaN,0.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...
6140,4137-JOPHL,1.0,0.0,61.0,0.0,0.0,1.0,NaN,0.0
6142,9402-ROUMJ,1.0,1.0,60.0,0.0,0.0,1.0,0.0,0.0
6143,1304-BCCFO,1.0,0.0,46.0,NaN,NaN,1.0,0.0,0.0
6150,9114-DPSIA,1.0,1.0,53.0,0.0,NaN,1.0,0.0,0.0
6161,3129-AAQOU,1.0,0.0,32.0,0.0,0.0,1.0,1.0,2.0

In [166]:
Married_between30and65 = tempt['Age'].mean()
Married_between30and65

47.38697878566203

In [167]:
tempt = demographic.loc[demographic['Married']==0]
tempt = tempt.loc[tempt['Age']>30]
tempt = tempt.loc[tempt['Age']<65]
tempt

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
1017,9372-TXXPS,NaN,1.0,37.0,0.0,0.0,0.0,0.0,0.0
1020,6229-UOLQL,1.0,1.0,38.0,0.0,0.0,0.0,1.0,1.0
1027,3258-SYSWS,1.0,1.0,51.0,0.0,0.0,0.0,1.0,1.0
1031,3389-KTRXV,1.0,0.0,32.0,0.0,NaN,0.0,1.0,3.0
1033,0637-KVDLV,1.0,0.0,34.0,0.0,0.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...
6149,4075-JFPGR,1.0,1.0,45.0,0.0,NaN,0.0,NaN,0.0
6152,2138-VFAPZ,1.0,1.0,64.0,0.0,0.0,0.0,0.0,0.0
6154,9242-TKFSV,NaN,0.0,57.0,0.0,0.0,0.0,NaN,0.0
6157,6429-SHBCB,1.0,0.0,62.0,0.0,0.0,0.0,NaN,0.0
6162,2205-LPVGL,1.0,1.0,44.0,0.0,0.0,0.0,0.0,0.0

In [168]:
Unmarried_between30and65 = tempt['Age'].mean()
Unmarried_between30and65

47.44847699287103

In [169]:
Age_mean = demographic['Age'].mean()
Age_mean

46.747821249768215

In [170]:
demographic = demographic.drop(labels=['Count'],axis =1)
demographic

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,1746-TGTWV,1.0,78.0,0.0,1.0,0.0,0.0,0.0
1,8499-BRXTD,0.0,74.0,0.0,1.0,1.0,NaN,1.0
2,2041-JIJCI,1.0,71.0,0.0,1.0,0.0,1.0,3.0
3,5832-EXGTT,0.0,78.0,0.0,1.0,1.0,1.0,1.0
4,8350-NYMVI,NaN,80.0,0.0,1.0,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...
6158,7609-NRNCA,0.0,NaN,0.0,0.0,0.0,0.0,0.0
6159,4835-YSJMR,1.0,38.0,0.0,0.0,NaN,1.0,2.0
6160,5067-DGXLL,NaN,30.0,0.0,0.0,1.0,1.0,2.0
6161,3129-AAQOU,0.0,32.0,0.0,0.0,1.0,1.0,2.0
6162,2205-LPVGL,1.0,44.0,0.0,0.0,0.0,0.0,0.0

In [171]:
demographic['Gender'] = demographic['Gender'].fillna(demographic['Gender'].mode()[0])
demographic

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,1746-TGTWV,1.0,78.0,0.0,1.0,0.0,0.0,0.0
1,8499-BRXTD,0.0,74.0,0.0,1.0,1.0,NaN,1.0
2,2041-JIJCI,1.0,71.0,0.0,1.0,0.0,1.0,3.0
3,5832-EXGTT,0.0,78.0,0.0,1.0,1.0,1.0,1.0
4,8350-NYMVI,1.0,80.0,0.0,1.0,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...
6158,7609-NRNCA,0.0,NaN,0.0,0.0,0.0,0.0,0.0
6159,4835-YSJMR,1.0,38.0,0.0,0.0,NaN,1.0,2.0
6160,5067-DGXLL,1.0,30.0,0.0,0.0,1.0,1.0,2.0
6161,3129-AAQOU,0.0,32.0,0.0,0.0,1.0,1.0,2.0
6162,2205-LPVGL,1.0,44.0,0.0,0.0,0.0,0.0,0.0

In [172]:
for idx,cell in demographic['Age'].iteritems():
    if np.isnan(cell):
        under30 = demographic['Under 30'][idx]
        sc = demographic['Senior Citizen'][idx]
        m = demographic['Married'][idx]
        if(not(np.isnan(under30))):
            if(under30):
                demographic['Age'][idx]=Under30_avg
            elif(not(np.isnan(sc))):
                if(sc):
                    demographic['Age'][idx]=Senior_Citizen
                elif(not(np.isnan(m))):
                    if(m):
                        demographic['Age'][idx]=Married_between30and65
                    else:
                        demographic['Age'][idx]=Unmarried_between30and65
        else :
            demographic['Age'][idx]=Age_mean

demographic['Age'] = demographic['Age'].fillna(demographic['Age'].mean())
demographic['Age'].isnull().sum()

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0

In [173]:
for idx,cell in demographic['Under 30'].iteritems():
    if(np.isnan(cell)):
        if((demographic['Age'][idx])>30):
            demographic['Under 30'][idx]=0
        else:
            demographic['Under 30'][idx]=1

for idx,cell in demographic['Senior Citizen'].iteritems():
    if(np.isnan(cell)):
        if((demographic['Age'][idx])>65):
            demographic['Senior Citizen'][idx]=1
        else:
            demographic['Senior Citizen'][idx]=0

demographic.isnull().sum()

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

Customer ID               0
Gender                    0
Age                       0
Under 30                  0
Senior Citizen            0
Married                 770
Dependents              770
Number of Dependents    770
dtype: int64

In [174]:
tempt = demographic.loc[demographic['Married']==1]
Married_avg_age = tempt['Age'].mean()
Married_avg_age

46.470663078795

In [175]:
tempt = demographic.loc[demographic['Married']==0]
UnMarried_avg_age = tempt['Age'].mean()
UnMarried_avg_age

46.54890874157492

In [176]:
#pd.set_option("display.max_rows",None)
demographic['Age'].value_counts().sort_index()

19.0     97
20.0    101
21.0     99
22.0     95
23.0    116
       ...
76.0     55
77.0     56
78.0     54
79.0     61
80.0     50
Name: Age, Length: 68, dtype: int64

In [177]:
for idx,cell in demographic['Married'].iteritems():
    if(np.isnan(cell)):
        if((demographic['Age'][idx]) > (Married_avg_age+UnMarried_avg_age)/2):
            demographic['Married'][idx]=1
        else:
            demographic['Married'][idx]=0
demographic.isnull().sum()

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Customer ID               0
Gender                    0
Age                       0
Under 30                  0
Senior Citizen            0
Married                   0
Dependents              770
Number of Dependents    770
dtype: int64

In [178]:
for idx,cell in demographic['Dependents'].iteritems():
    if(np.isnan(cell)):
        if((demographic['Married'][idx])):
            demographic['Dependents'][idx]=1
        else:
            demographic['Dependents'][idx]=0
demographic.isnull().sum()

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Customer ID               0
Gender                    0
Age                       0
Under 30                  0
Senior Citizen            0
Married                   0
Dependents                0
Number of Dependents    770
dtype: int64

In [179]:
tempt = demographic.loc[demographic['Married']==1]
Married_avg_dependents = tempt['Number of Dependents'].mode()[0]
tempt['Number of Dependents'].value_counts()

0.0    1680
1.0     338
2.0     314
3.0     313
4.0       7
5.0       5
6.0       2
7.0       1
9.0       1
Name: Number of Dependents, dtype: int64

In [180]:
for idx,cell in demographic['Number of Dependents'].iteritems():
    if(np.isnan(cell)):
        if(demographic['Married'][idx]):
            demographic['Number of Dependents'][idx] = Married_avg_dependents
        else:
            demographic['Number of Dependents'][idx] = 0
demographic.isnull().sum()

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Customer ID             0
Gender                  0
Age                     0
Under 30                0
Senior Citizen          0
Married                 0
Dependents              0
Number of Dependents    0
dtype: int64

In [181]:
demographic

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,1746-TGTWV,1.0,78.000000,0.0,1.0,0.0,0.0,0.0
1,8499-BRXTD,0.0,74.000000,0.0,1.0,1.0,1.0,1.0
2,2041-JIJCI,1.0,71.000000,0.0,1.0,0.0,1.0,3.0
3,5832-EXGTT,0.0,78.000000,0.0,1.0,1.0,1.0,1.0
4,8350-NYMVI,1.0,80.000000,0.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
6158,7609-NRNCA,0.0,47.448477,0.0,0.0,0.0,0.0,0.0
6159,4835-YSJMR,1.0,38.000000,0.0,0.0,0.0,1.0,2.0
6160,5067-DGXLL,1.0,30.000000,0.0,0.0,1.0,1.0,2.0
6161,3129-AAQOU,0.0,32.000000,0.0,0.0,1.0,1.0,2.0
6162,2205-LPVGL,1.0,44.000000,0.0,0.0,0.0,0.0,0.0

In [182]:
demographic.to_csv('demographic_preprocessing0116.csv')